@charset "utf-8";
/* CSS Document */

.wrap{width:1366px; background:#00c;}

.nav .nav_list{width:100%; position:absolute;left:0;top:30px;height:40px;}
.nav .nav_list ul{width:100%; position:absolute;left:0;top:0;}
.nav .nav_list ul li{width:20%; float:left;}
.nav .nav_list ul li a{display:block; text-align:center;width:100%;  line-height:40px; color:#fff;font-size:18px; font-weight:bold; }
.nav .nav_list ul li a:hover{ color:#CF0; font-size:26px;}

.content{width:1000px; background:#fff;  margin:30px auto; border-radius:50px;}
.content h2{width:100%;height:60px;font: bold 50px/60px "楷体"; text-align:center; text-shadow:5px 5px 5px #ccc;}
.content h3{width:800px;height:60px; font: bold 30px/60px "楷体"; text-shadow:5px 5px 5px #ccc;}
.content p{width:800px;height:60px; font: bold 20px/60px "楷体";display:block;}
.content .line{display:block; border-top:3px dashed #000; position:relative; margin-bottom:80px;margin-top:80px;}

.content .head{width:800px; margin:30px auto;}
.content b{width:100%; border-bottom:5px solid #000; display:block; margin:30px auto;}




.box1{width:670px;height:240px;margin:20px auto; position:relative; overflow:hidden;}
.box1 #num{ position:absolute;z-index:2;right:10px;bottom:10px;}
.box1 #num li{float:left; width:20px;height:20px; background:#ccc;color:#fff;text-align:center;line-height:20px; border-radius:50%; margin-right:10px;}
.box1 #num li.active{ background:red;}
.box1 #img{ position:absolute;left:-670px;top:0;width:5360px;height:240px;}
.box1 #img li{ width:670px;height:240px; float:left;}
.box1 #img li img{width:100%;height:100%;}
.box1 #left{ position:absolute;left:0;top:100px; background:#ccc; color:#000; width:40px;height:40px; text-align:center;font:20px/40px "楷体";display:none; cursor:pointer;}
.box1 #right{ position:absolute;right:0;top:100px; background:#ccc; color:#000; width:40px;height:40px; text-align:center;font:20px/40px "楷体";display:none;cursor:pointer;}
.box1:hover #left{display:block;}
.box1:hover #right{display:block;}

.box2{width:800px;height:520; margin:20px auto; }
.box2 #div1{width:800px;height:520px; margin:0 auto; position:relative; background:#999; overflow:hidden;}
.box2 #div1 ul{width:9999px; position:absolute;left:0;top:110px;}
.box2 #div1 ul li{ float: left;width:200px;height:260px; background:_red; position:relative;}
.box2 #div1 ul li img{width:200px;height:260px; opacity:1;}
.box2 #div1 ul li span{ position:absolute;left:50%;top:50%; background:#fff; font-size:30px;}

.box3{width:800px;margin:20px auto;height:450px;}
.box3 ul{width:800px;}
.box3 li{width:128px;height:128px;float:left;margin:20px; border:10px solid black; background:#fff;}


.line2{width:100%;height:50px; background:#000;color:#fff; text-align:right; font-size:16px; line-height:50px;position:relative; }
.line2 a{color:#fff; }
#fix_foot{width:100px;height:100px; position:fixed;right:10px;bottom:50px; border-radius:50%; overflow:hidden;}
#fix_foot img{width:100%;height:100%;}

